<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Sign Up</h1>
                <hr />
            </div>
        </div> 
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" action="#" name="signUpForm" novalidate>
                
                <div class="form-group">
                    <label for="fname" class="cols-sm-2 control-label">Your First Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="fname" id="fname"  placeholder="Enter your first name" ng-model="$signup.user.fname" required minlength="2" ng-maxlength="20"/>
                            <span
				            ng-if="(signUpForm.fname.$error.minlength || signUpForm.fname.$error.required) && signUpForm.fname.$touched">
				            Tour first name must be at least 2 characters long
				          </span>
				          <span ng-if="signUpForm.fname.$error.maxlength && signUpForm.fname.$touched">
				            Your first name must not be longer than 20 characters
				          </span>	
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lname" class="cols-sm-2 control-label">Your Last Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="lname" id="lname"  placeholder="Enter your last name" ng-model="$signup.user.lname" required minlength="2" ng-maxlength="20"/>
                            <span
				            ng-if="(signUpForm.lastname.$error.minlength || signUpForm.lastname.$error.required) && signUpForm.lastname.$touched">
				            Tour last name must be at least 2 characters long
				          </span>
				          <span ng-if="signUpForm.lastname.$error.maxlength && signUpForm.lastname.$touched">
				            Your last name must not be longer than 20 characters
				          </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your email address" ng-model="$signup.user.email" required/>
                            <span ng-if="signUpForm.email.$invalid && signUpForm.email.$touched">
						    Must be a valid email address: handle@domain format
						  </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="phone" class="cols-sm-2 control-label">Your Phone Number</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="phone" id="phone"  placeholder="Enter your phone number" ng-model="$signup.user.phone"/>
                            <span ng-if="signUpForm.phone.$invalid && signUpForm.phone.$touched">
						    Phone must be in the format ###-###-####.
						  </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
			        <label class="control-label col-sm-2" for="favorite">Favorite meal:</label>
			        <div class="col-sm-4">
				        <input class="form-control" id="favorite" type="text" name="favorite" placeholder="Your favourite meal number"
				          ng-model="$signup.user.favorite"
				          required>

				          <span
				          	ng-if="$signup.isNotFoundMeal">
				          	No such menu number exists
				          </span>
			        </div>
		         </div>

                <div class="form-group">
		         	<div class="col-sm-offset-2 col-sm-10">
			         	<button class="form-group btn btn-default" style="margin-left: 0;"
				           ng-disabled="signUpForm.$invalid"
				           ng-click="$signup.submit()">Submit</button>	
		         	</div>         	
		         </div>
                  <div class="form-group" style="height: 50px;">
		         	<div class="col-sm-offset-2 col-sm-6" ng-if="$signup.isSaved">
		         		<div class="alert alert-success">
		         			<strong>Your information has been saved!</strong>
		         		</div>
		         	</div>
		         </div>
            </form>
        </div>
    </div>
</div>